*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}

header{
    background: cyan;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
header button{
    padding: 8px 16px;
    background: blue;
    color: white;
    border-radius: 10px;
}

section{
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: palegoldenrod;
}







.parent{
    display: flex;
}
.sidebar-1{
    background: red;
    padding: 20px;
    flex: 0 0 160px;
}
.main-content{
    background: yellow;
    padding: 20px;
    flex-grow: 1;
}
.sidebar-2{
    background: blue;
    padding: 20px;
}