*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: rgb(56, 34, 8);
}
.title{
    color: blue;
    background-color: black
}
a{
    color: black;
}
a:hover{
    color: brown;
    background-color: aqua;
}
p{
    background: gray;
    color: white;
    padding: 20px;
    border: 5px solid blue;
    margin: 0 auto;
    /* width: 300px; */
    max-width: 1000px;
}
